body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.header {
    font-size: 72px;
    font-weight: bold;
}

.subtext {
    font-size: 36px;
    margin-bottom: 20px;
}

.subheader {
    font-size: 54px;
    font-weight: bold;
}

.button {
    padding: 10px 20px;
    font-size: 27px;
    cursor: pointer;
    background: rgb(52, 52, 52);
}

.owner-link {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 27px;
}

.tables4u {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    font-size: 72px;
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    padding: 0;
    outline: none;
}
